<launch>

  <!-- Gazebo setup -->
  <arg name="world"             default="practice"/> <!-- empty, practice, cafe -->
  <arg name="load_world"        default="true"/>
  <arg name="gazebo_gui"        default="true"/>
  <arg name="use_ground_truth"  default="false"/> <!-- fuse odometry ground truth from gazebo -->

  <!-- Model setup -->
	<arg name="model" default="$(find nowtech_wheelchair_model)/xacro/model.xacro"/>

  <!-- Simulator -->
  <include file="$(find nowtech_worlds)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nowtech_worlds)/worlds/$(arg world).world" if="$(arg load_world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn urdf model to gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 0.5 -unpause -urdf -model wheelchair -param robot_description" respawn="false"/>

  <!-- State publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
