<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="/home/dreamvu/catkin_ws/src/gazebo_ros_pal/xacro/pal.xacro" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find gazebo_ros_pal)/urdf.rviz" />
</launch>
