<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="pal_pcl" params="sensor_name parent_link rate *origin">

  <joint name="${sensor_name}_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${sensor_name}"/>
    <xacro:insert_block name="origin"/>
  </joint>

  <link name="${sensor_name}">
      <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
              <mesh filename="package://gazebo_ros_pal/meshes/pal.STL"/>
          </geometry>
      </visual>
      <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
              <mesh filename="package://gazebo_ros_pal/meshes/pal.STL"/>
          </geometry>
      </collision>
      <inertial>
        <origin
          xyz="-8.3767E-19 0.039154 7.7658E-09"
          rpy="0 0 0" />
        <mass
          value="0.61118" />
        <inertia
          ixx="0.00073089"
          ixy="6.9777E-21"
          ixz="2.8195E-26"
          iyy="0.00067219"
          iyz="3.0805E-09"
          izz="0.00073089" />
      </inertial>
  </link>


  <gazebo reference="${sensor_name}">
    <sensor name="${sensor_name}" type="ray">
      <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1.0</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
          <vertical>
            <samples>55</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.9</min_angle>
            <max_angle>1.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.05</min>
          <max>10.0</max>
        </range>
      </ray>
      <plugin name="blocklaser" filename="libgazebo_ros_block_laser.so">
        <gaussianNoise>0.00</gaussianNoise>
        <alwaysOn>true</alwaysOn>
        <updateRate>${rate}</updateRate>
        <topicName>${sensor_name}/point_cloud</topicName>
        <frameName>${sensor_name}</frameName>
        <hokuyoMinIntensity>101</hokuyoMinIntensity>
      </plugin>
      <always_on>true</always_on>
      <update_rate>${rate}</update_rate>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
